body{
    background-color: #bcbbc2;
}

.is-hidden {
position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

ul,
li {
    list-style: none;
}

.search {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #eae9ef;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.button-gallery {
    padding: 1.1em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-gallery:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.button-gallery:active {
    transform: translateY(-1px);
}

.search-input {
    width: 250px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, .3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 12px;
    outline: none;
    padding-left: 16px;
    color: rgb(0, 0, 0);

    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    margin-right: 10px;
}

.search-input:hover {
    box-shadow: 0px 1px 10px rgba(46, 229, 157, 0.4);
}



/* --------------------------------GALLERY--------------------------- */


            .gallery {
                    margin: 110px auto 30px;
                }
    .gallery-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            padding-inline-start: 0px;
        }
        .gallery-item {
            width: 100%;
            border-radius: 4px;
            
        }
    .gallery-info{
        background-color:#ffffff; ;
    }

@media screen and (min-width: 768px) {
    .gallery-item {
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width: 1200px) {
    .gallery-item {
        width: calc((100% - 60px) / 3);
    }
}

.gallery-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    ;
}

.gallery-info {
    display: flex;
    justify-content: space-evenly
}

img {
    height: 250px;

    object-fit: cover;
    display: block;
    width: 100%;
}

.bold {
    font-weight: 600;
}
.photo-card-info {
    text-align: center;
font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
}

/* --------------------------------LOAD_MORE--------------------------- */
.load-more {
    margin: 0 auto 30px;
    display: block;
}